.card {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  
  &__mark {
  	display: inline-block;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background: grey;
    margin: 0 7px 3px 2px;	
    
      &:first-child {
      	margin-left: 16px;			
      }

    &--red {
      background: #df5b5b;
    }    
    &--yellow {
      background: #f1c752;
    }
    &--green {
      background: #8edc87;
    }
    &--blue {
      background: #7db6fd;
    }
  }

  &__text {  	
  	font-size: 16px;
  	color: #424a59;
  	margin: 0 0 11px 16px;

  	&-small {
  		position: relative;
  		font-size: 12px;
			color: #667081;

			&--progress {
				margin: 5px 0 5px 15px;
			}

			&--ok {
				width: 18px;
				height: 18px;
				border-radius: 50%;
				background: #8ddc86;
				margin: 5px 0 5px 15px;
			}
  	}

  	&--check {
  		font-size: 14px;
  		margin-left: 5px;
  	}

  	&--color {
  		display: flex;
  		justify-content: center;
  		align-items: center;
  		position: absolute;
  		top: -10px;
  		right: 35px;
  		width: 32px;
  		height: 20px;
  		color: #8edc87;
  	  border: 1px solid #8edc87;
  	  border-radius: 10px;
  	}
  }

  &__gallery {
  	position: relative;
  	margin: 0 0 0 16px;
  }

  &__progress {
  	display: flex;
  	align-items: center;
  	margin-bottom: 10px;

  	&-value {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background-size: auto;
      border: none;
      width: calc(100% - 80px);
      height: 4px;
      margin: 0 0 0 16px;
      position: relative;

      &::-webkit-progress-bar {
        background: #e7e9ee;
        border-radius: 2px;
      }

      &::-webkit-progress-value {
        background: #8ddc86;
        border-radius: 2px;
      }	
    }
  }

  &-footer {
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
  	display: flex;
  	align-items: center;
  	border-top: 1px solid #e3e6ed;
  	padding: 5px 0 7px 5px;

  	&__comment {
  		width: 20px;
  		height: 20px;
  		fill: #7db6fd;
  		margin: 0 7px 0 16px;
  		-webkit-transform: scaleX(-1);
  		-moz-transform: scaleX(-1);
  		-o-transform: scaleX(-1);
  		transform: scaleX(-1);
  	}

  	&__clip {
  		width: 20px;
  		height: 20px;
  		fill: #df5c5c;
  		margin: 0 10px;
  	}
  }

  &__ok {
  	width: 18px;
  	height: 18px;
  	fill: #fff;
  }

  &__form {
    padding-left: 15px;
  }

  &__checkbox {
    display: none;

    &-custom {
      position: relative;      
      display: inline-block;
      vertical-align: middle;
      width: 16px; 
      height: 16px;
      border: 1px solid #d0d4dd;
      border-radius: 2px;
      margin: 7px 0;
    }

    &:checked + .card__checkbox-custom::before {
      content: "";          
      display: block;       
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #8edc87 url('../img/check.png') no-repeat center center;
      background-size: 16px 16px;
      border-radius: 2px;
    }
  }
}

.gallery__img {
	
  &:first-child {
		margin-right: 25px;
	}
}

@media screen and (min-width: 1440px) {
  .card {
    &__progress {
      &-value {
        width: 184px;
      }
    }
  }
}

.label {
  display: inline-block;
  vertical-align: middle;
}