.page-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background: #2d323e;
  height: 52px;

  &__bell {
    position: relative;
    margin-left: 20px;
   
    &:after {
      content: '2';
      position: absolute;
      top: 0;
      right: 18px;
      width: 14px;
      height: 13px;
      background: #e2715c;
      border-radius: 2px;
      font-size: 10px;
      color: #fff;
      padding: 1px 0 0 4px;
    }

    &-img {
      width: 24px;
      height: 24px;
      fill: #5e6a80;
      margin-right: 20px;
    }
  }

  &__magnify {
    position: relative;
    width: 24px;
    height: 24px;
    fill: #5e6a80;
    z-index: 10;
  }  
}

.user {
  display: none;
}

@media screen and (min-width: 1024px) {
  .page-header {
    justify-content: flex-end;
    background: #fff;
    padding: 0 70px 0 0;
    height: 67px;

    &__magnify {
      width: 24px;
      height: 24px;

      &--hidden {
        width: 0;
        height: 0;
      }

      &:hover {
        width: 24px;
        height: 24px;
      }
    }
  }

  .user {
    display: block;
    cursor: pointer;
    outline: none;

    &::-webkit-details-marker {
      display: none;
    }
    
    &__toggle {
      width: 24px;
      height: 24px;
      fill: #5e6a80;
    }
  }
}